<header class="site-header">

  <div class="wrapper">

    <div class="site-header-container">
      <div class="site-header-text">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <br>
        <p class="site-description">{{ site.description | escape }}</p>
      </div>
    </div>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
